build --incompatible_strict_action_env
build --experimental_platform_in_output_dir
build --sandbox_add_mount_pair=/tmp

build -c opt
build --strip=always

# Until https://github.com/bazelbuild/bazel-central-registry/pull/1427 is merged
common --registry https://raw.githubusercontent.com/jvolkman/bazel-central-registry/jvolkman/rules_pycross@v0.5.2-12c6e503
